#circle-pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  pointer-events: none;

  background: radial-gradient(
    600px at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );

  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
