.home-page {
  // $page_padding-vertical * 2
  --section-vertical-padding: 4rem;
  // Set in general-layout under .content-body section

  section {
    min-height: calc(100dvh - var(--approx-menu-height));
    &.image-right {
      .image {
        max-height: calc(100dvh - var(--approx-menu-height));
      }
    }
  }

  // ------------------------------------------------------------------
  // Landing Section
  // ------------------------------------------------------------------

  #landing-section {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $page_padding-vertical $page_padding-horizontal;

    margin-top: calc(($page_padding-vertical + 3rem) * -1);

    h1 {
      margin: 0.5em;
    }
    p {
      margin: 2em 0 2.5em;
    }
    .content {
      max-width: 1000px;
      width: 100%;
      padding: 0 $page_padding-horizontal;
      box-sizing: border-box;
    }

    .button-container {
      display: flex;
      gap: 3rem;
      align-items: center;
      justify-content: center;
    }

    // ---- Responsiveness ----

    // Desktop size
    @include responsive($page-break_tablet, min) {
      padding: 0 $page_padding-horizontal * 1.5;
    }

    // Tablet / large phone width
    @include responsive($page-break_tablet, max) {
      padding: $page_padding-vertical $page_padding-horizontal * 1;
      padding-top: var(--section-vertical-padding);
      text-align: left;

      .content {
        padding: $page_padding-vertical 0;

        h1,
        p {
          margin: 0.5em 0;
        }
      }
      .button-container {
        margin: 2em 0 2.5em;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  // ------------------------------------------------------------------
  // Other Sections
  // ------------------------------------------------------------------

  #landing-section + section {
    padding-top: calc(
      var(--approx-menu-height) + var(--section-vertical-padding)
    );
    min-height: 100dvh;

    &.image-right {
      .image {
        max-height: calc(
          100dvh - var(--approx-menu-height) - var(--section-vertical-padding)
        );
      }
    }

    @include responsive($page-break_desktop) {
      &.image-right {
        .image {
          max-height: calc(100dvh - var(--section-vertical-padding));
        }
      }
    }

    @include responsive($page-break_tablet) {
      padding-top: var(--section-vertical-padding);
      min-height: unset;
      border-top: 2px solid $color-white;
    }
  }

  .about-section {
    $image-width: 30dvw;
    --content-padding: 10dvw;
    min-height: 100dvh;
    display: grid;
    column-gap: 10dvw;
    position: relative;

    h2 {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      padding: 0;
      gap: 1rem;

      li {
        align-items: center;
        position: relative;
        padding-left: 1.5rem;

        font-size: $font-size-sm;

        &:before {
          content: "▹";
          position: absolute;
          left: 0;
          color: $color-accent-1;
          font-size: $font-size-md;
        }
      }
    }

    &.image-right {
      grid-template-columns: 1fr $image-width;
      grid-template-areas: "content image";
      padding-right: var(--content-padding);
      padding-left: var(--content-padding);

      .image {
        position: relative;
        grid-area: image;
        align-self: center;
        overflow: hidden;

        img {
          width: auto;
          height: auto;
          max-width: 400px;
          max-height: 400px;
          @include hover-effect;
        }
      }
    }

    @include responsive($page-break_desktop) {
      display: block;
      overflow-x: hidden;
      --content-padding: 8rem;

      &.image-right {
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);
      }

      .image {
        position: absolute;
        height: 65%;
        right: -20%;
        top: 15%;
       
      }

      .content {
        z-index: 2;
        position: relative;

        h2 {
          margin-bottom: 1.5em;
        }
      }

      &#about-3 {
        min-height: unset;

        .image {
          right: -10vw;
        }
      }
    }

    @include responsive($page-break_tablet) {
      --content-padding: 2rem;
      min-height: unset;
      border-top: 2px solid $color-white;

      h2 {
        margin-top: 0;
      }
    }
  }
}
