$color-white: white;
$color-black: black;

$color-primary: $color-white;
$color-secondary: $color-black;
$color-brand-1: $color-black;
$color-brand-2: $color-black;
$color-accent-1: $color-black;
$color-accent-2: $color-black;
$color-warning: yellow;
$color-error: red;
$color-success: green;

$color-text-light: $color-white;
$color-text-dark: $color-black;