$breakpoint-mobile: 35rem; // 560px
$breakpoint-desktop: 80rem; // 1280px
$breakpoint-tablet: 62rem; // 1000px
$breakpoint-smaller: 22rem;
$breakpoint-large-desktop: 90rem;

@mixin responsive($size, $basis: max, $type: width) {
	@media only screen and (#{$basis}-#{$type}: #{$size}) {
		@content;
	}
}