@use "sass:color";

$color-white: #ffffff;
$color-black: #13202a;

$color-grey-dark: #1f1f1f;
$color-mid-grey: #373737;
$color-grey: #aab4cc;
$color-grey-light: #dee4fa;
$color-pink: #78c091;
$color-scarlet: #f52d00;
$color-gamboge: #f0a202;
$color-caribbean-current: #006d77;

$color-primary: $color-grey-dark;
$color-secondary: $color-white;
$color-accent-1: $color-pink;
$color-accent-2: $color-mid-grey;
$color-brand-1: $color-grey-light;
$color-brand-2: $color-grey;
$color-warning: $color-gamboge;
$color-error: $color-scarlet;
$color-success: $color-caribbean-current;
$color-text-light: $color-white;
$color-text-dark: $color-grey-dark;

.color-primary {
  --color: #{$color-primary};
  color: var(--color);
}
.color-secondary {
  --color: #{$color-secondary};
  color: var(--color);
}
.color-accent-1 {
  --color: #{$color-accent-1};
  color: var(--color);
}
.color-accent-2 {
  --color: #{$color-accent-2};
  color: var(--color);
}
.color-brand-1 {
  --color: #{$color-brand-1};
  color: var(--color);
}
.color-brand-2 {
  --color: #{$color-brand-2};
  color: var(--color);
}
.color-warning {
  --color: #{$color-warning};
  color: var(--color);
}
.color-error {
  --color: #{$color-error};
  color: var(--color);
}
.color-success {
  --color: #{$color-success};
  color: var(--color);
}
.color-success-darker {
  --color: #{darken($color-success, 30%)};
  color: var(--color);
}
