.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.font-xxs {
	font-size: $font-size-xxs !important;
}

.font-xs {
	font-size: $font-size-xs !important;
}

.font-sm {
	font-size: $font-size-sm !important;
}

.font-md {
	font-size: $font-size-md !important;
}

.font-lg {
	font-size: $font-size-lg !important;
}

.font-xl {
	font-size: $font-size-xl !important;
}

.font-xxl {
	font-size: $font-size-xxl !important;
}

.font-xxxl {
	font-size: $font-size-xxxl !important;
}

.font-xxxxl {
	font-size: $font-size-xxxxl !important;
}

.pre {
	white-space: pre-wrap;
}