@import "./fonts/fonts.scss";
@import "./abstracts/typography.scss";
@import "./abstracts/responsiveness.scss";
@import "./abstracts/spacing.scss";
@import "./abstracts/colors.scss";
@import "./abstracts/mixins.scss";
@import "./elements/headings.scss";
@import "./elements/buttons.scss";
@import "./utilities/colors.scss";
@import "./utilities/text.scss";

body,
html {
  color: $color-primary;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: $font-body-normal-family;
}

html {
  scroll-behavior: smooth;
}

.switch-link-underline-direction {
  &:after,
  a:after {
    right: 0;
    left: unset;
  }
}

a {
  position: relative;
  word-break: normal;
  text-decoration: none;
  font-family: $font-fira-mono-normal;
  color: $color-brand-1;

  &:not(.email-link)::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    bottom: -0.5rem;
    border-bottom: 1.5px solid $color-accent-1;
    @include transition(width);
  }

  &:hover {
    color: $color-accent-1;
  }

  @include active-state {
    &::after {
      width: 100%;
    }
  }

  &.button {
    &::after {
      content: unset;
    }
  }
}

.emphasised-text {
  color: $color-accent-1;
  font-family: $font-display-normal-family;
}
.emphasised-number {
  color: $color-accent-1;
  font-family: $font-display-normal-family;
  font-size: $font-size-lg;
}
.emphasised-text-normal {
  color: $color-brand-2;
  font-family: $font-fira-mono-normal;
}

* {
  box-sizing: border-box;
}

// ------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------

$page_padding-horizontal: $spacing-xxl;
$page_padding-vertical: calc($spacing-xxl * 1.5);

* {
  --approx-menu-height: 6rem;
  // $page_padding-vertical + 3rem
}

// ------------------------------------------------------------------
// Backgrounds
// ------------------------------------------------------------------

.dark-bg {
  background-color: $color-primary;
  color: $color-brand-2;
}

.content-body {
  color: $color-primary;

  section {
    padding: $page_padding-vertical * 1 $page_padding-horizontal * 4
      $page_padding-vertical * 2;

    @include responsive($breakpoint-tablet) {
      padding: $page_padding-vertical * 1 $page_padding-horizontal * 3;
    }

    @include responsive($breakpoint-mobile) {
      padding: $page_padding-vertical * 1 $page_padding-horizontal * 1;
    }
  }

  .image-box {
    --image-width: 50px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  p,
  li {
    line-height: 1.8rem;
    font-weight: 500;
  }
  p {
    color: $color-brand-2;
  }
  li {
    list-style: none;
    padding-bottom: 1em;
  }
  .color-slate {
    color: $color-brand-1;
  }

  .no-list-style {
    list-style: none;
  }

  h1,
  h2,
  h4 {
    font-weight: 600;
    letter-spacing: $font-body-bold-spacing;
    margin: 2em 0 1em;
  }

  h2 {
    border-top: 2px solid $color-primary;
    padding-top: 1.5em;
    padding-bottom: 1em;
    color: $color-brand-1;
  }

  h3 {
    font-weight: 600;
    color: $color-brand-1;
    margin: 0 0 1em;
  }
}

// ------------------------------------------------------------------
// Imports
// ------------------------------------------------------------------

@import "./components/header.scss";
@import "./components/homepage.scss";
@import "./components/left-right-bar.scss";
@import "./components/footer.scss";
@import "./components/circle-pointer.scss";
